body{
  margin: 0;
  font-family: helvetica;
  background-color: black;
  color: #fff;
}

hr{
  border: 5px solid #333;
  margin: 0;
}

h1{
  margin: 0;
}

/* Navigation bar section */
nav{
  padding: 30px 50px;
}

nav .netflix-logo{
  display: inline-block;
}

nav img{
  width: 120px;
}

nav .signin{
  float: right;
  color: #fff;
  background-color: #e50914;
  font-size: 18px;
  text-decoration: none;
  border-radius: 3px;
  padding: 7px 17px;
}


/* Netflix image section */
.netflix-image{
   position: absolute;
   width: 100%;
   height: 100vh;
   z-index: -1;
   filter: brightness(80%);
}

header{
  /* background: linear-gradient(to bottom, rgba(0,0,0,0.9),rgba(0,0,0,0.05),rgba(0,0,0,0.9)); */
  background: radial-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.9));
  height: 100vh;
  color: #fff;
}


/* Header content section */
.header-content{
  text-align: center;
  width: 65%;
  padding: 15% 0;
}

.main-title{
  font-size: 45px;
  font-weight: bold;
}

.header-paragraph{
  font-size: 20px;
}

/* FORM */


.form-email{
  font-size: 16px;
  width: 70%;
  height: 50px;
  border: 1px solid blue;
}

.form-button{
  font-size: 16px;
  width: 25%;
  height: 50px;
  background-color: #e50914;
  color: #fff;
}

/* WHAT NETFLIX OFFERS SECTION */

.offers{
  text-align: center;
  padding: 0;
}

.offer{
  padding-top: 7%;
}

/* Offer one */

.img-1{
  position: relative;
  z-index: 2;
  width: 90%;
}

.vid-1{
  position:absolute;
  z-index: 1;
  width: 65%;
  right: 17%;
  top: 20%;
}

/* Offer two */


.img-2{
  width: 80%;
}

.img-22{
  width: 30%;
  float: left;
}

/* Offer three */
.img-3{
  position: relative;
  z-index: 2;
  width: 90%;
}

.vid-3{
  position: absolute;
  z-index: 1;
  width: 55%;
  right: 22%;
  top: 10%;
}

/* Offer four */
.img-4{
  width: 80%;
}


/* FREQUENTLY ASKED QUESTIONS */
.faq-section{
  text-align: center;
}

.faq-button{
  display:block;
  background-color: #333;
  color: #fff;
}

.faq-buttons{
  padding-left: 30%;
}


/* FOOTER */
footer{
  text-align: center;
  color: #757575;
}

li{
  list-style: none;
}

.column{
  text-align: left;
}

.footer-link{
  color: #757575;
}




/* MEDIA QUERIES */
/* @media only screen and (max-width: 600px){
  .form-email{
    display: block;
  }

  .form-button{
    display:block;
  }
} */
